extends layout

block extraHeader
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/MetroJs.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
  h1.center Leaderboard
  div.container-fluid(ng-init="teams = #{JSON.stringify(teams)}; grades = #{JSON.stringify(grades)}; colors = #{JSON.stringify(colors)};")
    div.row-fluid
       div.span8.tile.bucket(id="teambucket")
          div.team-name(ng-repeat="team in teams" id="team_{{team._id}}" title="{{team.Name}}")
             span.righty.team-score(id="score_{{team._id}}")
                | {{team.TotalScore}}
             {{team.Name}}
       div.span4
         div.tile
            h2.center Blue v Gold
            div.color-name(ng-repeat="cteam in colors" id="cteam_{{cteam.name}}")
               span.color-score(class="{{cteam.name}}")
                  span.righty.color-score(id="colorscore_{{cteam.name}}")
                     | {{cteam.score}} 
                  | {{cteam.name}} 
         div.tile.center
            div.grade-name(ng-repeat="grade in grades" id="grade_{{grade.name}}")
               span.righty.grade-score(id="gradescore_{{grade.name}}")
                  | {{grade.score}} 
               | {{grade.name}} 
